In [18]:
import pandas as pd
from pathlib import Path

csv_file = Path('taxi_trip_pricing.csv')
for parent in Path.cwd().parents:
    possible_path = parent / 'src' / 'taxipred' / 'data' / 'taxi_trip_pricing.csv'
    if possible_path.exists():
        csv_file = possible_path
        break

print(f"Hittade filen: {csv_file}")
df = pd.read_csv(csv_file)
print(f"Data inläst, Shape: {df.shape}")
df.head(15)

Hittade filen: c:\Users\pepef\Desktop\Taxilabb\src\taxipred\data\taxi_trip_pricing.csv
Data inläst, Shape: (1000, 11)

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
1,47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
2,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4.0,Low,NaN,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180
5,8.64,Afternoon,Weekend,2.0,Medium,Clear,2.55,1.71,0.48,89.33,60.2028
6,3.85,Afternoon,Weekday,4.0,High,Rain,3.51,1.66,NaN,5.05,11.2645
7,43.44,Evening,Weekend,3.0,NaN,Clear,2.97,1.87,0.23,NaN,101.1216
8,30.45,Morning,Weekday,3.0,High,Clear,2.77,1.78,0.34,110.33,NaN
9,35.70,Afternoon,Weekday,2.0,Low,Rain,3.39,1.52,0.47,NaN,75.5657
10,NaN,Morning,Weekday,4.0,NaN,Clear,2.40,0.58,0.43,26.34,14.8920
11,48.53,Night,Weekday,3.0,Low,Clear,4.78,NaN,0.50,79.94,NaN
12,41.79,Night,Weekend,3.0,High,Clear,4.60,1.77,0.11,86.95,88.1328
13,11.40,Morning,Weekday,3.0,NaN,Clear,4.12,NaN,0.15,84.12,36.1180
14,9.91,Evening,Weekday,2.0,High,Clear,2.32,1.26,0.34,41.72,28.9914

In [2]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Trip_Distance_km,950.0,27.070547,19.905300,1.2300,12.63250,25.8300,38.40500,146.067047
Passenger_Count,950.0,2.476842,1.102249,1.0000,1.25000,2.0000,3.00000,4.000000
Base_Fare,950.0,3.502989,0.870162,2.0100,2.73000,3.5200,4.26000,5.000000
Per_Km_Rate,950.0,1.233316,0.429816,0.5000,0.86000,1.2200,1.61000,2.000000
Per_Minute_Rate,950.0,0.292916,0.115592,0.1000,0.19000,0.2900,0.39000,0.500000
Trip_Duration_Minutes,950.0,62.118116,32.154406,5.0100,35.88250,61.8600,89.05500,119.840000
Trip_Price,951.0,56.874773,40.469791,6.1269,33.74265,50.0745,69.09935,332.043689

In [19]:

csv_file = Path('taxi_trip_pricing.csv')
for parent in Path.cwd().parents:
    possible_path = parent / 'src' / 'taxipred' / 'data' / 'taxi_trip_pricing.csv'
    if possible_path.exists():
        csv_file = possible_path
        break

print(f"Läser från: {csv_file}")
df = pd.read_csv(csv_file)

print(f"\nData inläst")
print(f"Antal rader: {df.shape[0]:,}")
print(f"Antal kolumner: {df.shape[1]}")

Läser från: c:\Users\pepef\Desktop\Taxilabb\src\taxipred\data\taxi_trip_pricing.csv

Data inläst
Antal rader: 1,000
Antal kolumner: 11

In [20]:
print("=== de fösrta 10 raderna ===")
df.head(10)

=== de fösrta 10 raderna ===

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
1,47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
2,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4.0,Low,NaN,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180
5,8.64,Afternoon,Weekend,2.0,Medium,Clear,2.55,1.71,0.48,89.33,60.2028
6,3.85,Afternoon,Weekday,4.0,High,Rain,3.51,1.66,NaN,5.05,11.2645
7,43.44,Evening,Weekend,3.0,NaN,Clear,2.97,1.87,0.23,NaN,101.1216
8,30.45,Morning,Weekday,3.0,High,Clear,2.77,1.78,0.34,110.33,NaN
9,35.70,Afternoon,Weekday,2.0,Low,Rain,3.39,1.52,0.47,NaN,75.5657

In [8]:
print("=== KOLUMNNAMN ===")
print(df.columns.tolist())

print("\n=== DATATYPER ===")
print(df.dtypes)

print("\n=== GRUNDLÄGGANDE INFO ===")
df.info()

=== KOLUMNNAMN ===
['Trip_Distance_km', 'Time_of_Day', 'Day_of_Week', 'Passenger_Count', 'Traffic_Conditions', 'Weather', 'Base_Fare', 'Per_Km_Rate', 'Per_Minute_Rate', 'Trip_Duration_Minutes', 'Trip_Price']

=== DATATYPER ===
Trip_Distance_km         float64
Time_of_Day               object
Day_of_Week               object
Passenger_Count          float64
Traffic_Conditions        object
Weather                   object
Base_Fare                float64
Per_Km_Rate              float64
Per_Minute_Rate          float64
Trip_Duration_Minutes    float64
Trip_Price               float64
dtype: object

=== GRUNDLÄGGANDE INFO ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       950 non-null    float64
 1   Time_of_Day            950 non-null    object
 2   Day_of_Week            950 non-null    object
 3   Passenger_Count        950 non-null    float64
 4   Traffic_Conditions     950 non-null    object
 5   Weather                950 non-null    object
 6   Base_Fare              950 non-null    float64
 7   Per_Km_Rate            950 non-null    float64
 8   Per_Minute_Rate        950 non-null    float64
 9   Trip_Duration_Minutes  950 non-null    float64
 10  Trip_Price             951 non-null    float64
dtypes: float64(7), object(4)
memory usage: 86.1+ KB

In [21]:
df_with_price = df[df['Trip_Price'].notna()].copy()
df_without_price = df[df['Trip_Price'].isna()].copy()

print(f"Rader med pris: {len(df_with_price)}")
print(f"Rader utan pris (för predictions): {len(df_without_price)}")

Rader med pris: 951
Rader utan pris (för predictions): 49

In [22]:
df_clean = df_with_price.dropna()

print(f"Före: {len(df_with_price)} rader")
print(f"Efter: {len(df_clean)} rader")
print(f"Borttagna: {len(df_with_price) - len(df_clean)} rader")

Före: 951 rader
Efter: 562 rader
Borttagna: 389 rader

In [23]:
print("Kvarvarande nulls:")
print(df_clean.isnull().sum().sum())

Kvarvarande nulls:
0

In [24]:
print(f"Min pris: {df_clean['Trip_Price'].min()}")
print(f"Max pris: {df_clean['Trip_Price'].max()}")
print(f"Medel: {df_clean['Trip_Price'].mean():.2f}")

# Ta bort outliers
df_clean = df_clean[df_clean['Trip_Price'] > 0]  # Tar bort negativa
df_clean = df_clean[df_clean['Trip_Price'] < 200]  # Inga extremt höga

print(f"\nEfter outlier removal: {len(df_clean)} rader")

Min pris: 6.1269
Max pris: 332.0436886774302
Medel: 57.66

Efter outlier removal: 548 rader