In [2]:
import pandas as pd

df_clean = pd.read_csv('../src/taxipred/data/processed/taxi_data_cleaned.csv')

In [13]:
import pandas as pd

df = pd.read_csv('../src/taxipred/data/processed/taxi_data_cleaned.csv')

df.head(10)

categorical_cols = ['Time_of_Day', 'Day_of_Week', 'Traffic_Conditions', 'Weather']

taxi_data = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

df.head(20)

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
1,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
2,8.64,Afternoon,Weekend,2.0,Medium,Clear,2.55,1.71,0.48,89.33,60.2028
3,41.79,Night,Weekend,3.0,High,Clear,4.60,1.77,0.11,86.95,88.1328
4,9.91,Evening,Weekday,2.0,High,Clear,2.32,1.26,0.34,41.72,28.9914
5,9.99,Night,Weekday,4.0,High,Clear,4.33,0.85,0.43,34.00,27.4415
6,15.91,Morning,Weekday,4.0,Low,Clear,4.42,1.77,0.21,114.93,56.7160
7,26.71,Afternoon,Weekend,4.0,Low,Rain,4.30,1.59,0.20,111.18,69.0049
8,30.98,Afternoon,Weekend,1.0,Low,Rain,4.50,0.84,0.25,57.02,44.7782
9,18.95,Night,Weekday,1.0,Low,Clear,3.38,0.78,0.39,54.04,39.2366
10,3.28,Evening,Weekday,2.0,Medium,Clear,2.88,1.76,0.20,78.04,24.2608
11,30.77,Morning,Weekday,1.0,Low,Clear,3.64,1.33,0.13,109.60,58.8121
12,9.36,Afternoon,Weekday,1.0,Medium,Clear,2.40,1.85,0.15,7.07,20.7765
13,48.32,Morning,Weekday,2.0,Low,Clear,2.49,0.61,0.44,67.25,61.5552
14,40.61,Afternoon,Weekday,1.0,Low,Clear,2.31,0.88,0.38,42.25,54.1018
15,5.79,Evening,Weekday,4.0,Low,Clear,4.63,1.83,0.24,107.07,40.9225
16,6.98,Afternoon,Weekend,2.0,Low,Clear,2.32,0.78,0.18,72.37,20.7910
17,25.26,Evening,Weekday,2.0,High,Clear,3.95,1.71,0.12,82.53,57.0482
18,2.69,Afternoon,Weekday,4.0,Low,Clear,4.60,1.95,0.34,97.49,42.9921
19,33.46,Afternoon,Weekend,2.0,Low,Rain,2.23,0.63,0.12,64.07,30.9982

In [14]:
taxi_data

,Trip_Distance_km,Passenger_Count,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price,Time_of_Day_Evening,Time_of_Day_Morning,Time_of_Day_Night,Day_of_Week_Weekend,Traffic_Conditions_Low,Traffic_Conditions_Medium,Weather_Rain,Weather_Snow
0,19.35,3.0,3.56,0.80,0.32,53.82,36.2624,False,True,False,False,True,False,False,False
1,36.87,1.0,2.70,1.21,0.15,37.27,52.9032,True,False,False,True,False,False,False,False
2,8.64,2.0,2.55,1.71,0.48,89.33,60.2028,False,False,False,True,False,True,False,False
3,41.79,3.0,4.60,1.77,0.11,86.95,88.1328,False,False,True,True,False,False,False,False
4,9.91,2.0,2.32,1.26,0.34,41.72,28.9914,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
543,40.17,3.0,3.81,0.66,0.42,62.66,56.6394,True,False,False,False,True,False,False,False
544,14.34,1.0,3.23,1.01,0.29,45.07,30.7837,False,False,False,False,False,True,False,False
545,18.69,3.0,4.90,1.79,0.17,79.41,51.8548,True,False,False,False,False,True,False,False
546,5.49,4.0,2.39,0.62,0.49,58.39,34.4049,False,False,False,True,False,True,False,False
547,47.56,1.0,2.67,0.82,0.17,114.94,61.2090,False,True,False,False,True,False,False,False

In [9]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Trip_Distance_km,548.0,25.289380,14.307509,1.2700,12.87500,25.64000,37.757500,49.9900
Passenger_Count,548.0,2.540146,1.110130,1.0000,2.00000,3.00000,4.000000,4.0000
Base_Fare,548.0,3.513850,0.869567,2.0100,2.72750,3.54500,4.262500,5.0000
Per_Km_Rate,548.0,1.216679,0.428916,0.5000,0.84000,1.19000,1.570000,2.0000
Per_Minute_Rate,548.0,0.288850,0.115312,0.1000,0.19000,0.28000,0.390000,0.5000
Trip_Duration_Minutes,548.0,61.771442,32.291006,5.0100,36.33750,61.41500,89.165000,119.8400
Trip_Price,548.0,51.882792,24.236402,6.1269,33.30375,48.99895,66.700625,138.6425

In [20]:
from sklearn.model_selection import train_test_split

x = taxi_data.drop('Trip_Price', axis=1) # Använd den nya DataFrame
y = taxi_data['Trip_Price']
x.head(15)

,Trip_Distance_km,Passenger_Count,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Time_of_Day_Evening,Time_of_Day_Morning,Time_of_Day_Night,Day_of_Week_Weekend,Traffic_Conditions_Low,Traffic_Conditions_Medium,Weather_Rain,Weather_Snow
0,19.35,3.0,3.56,0.80,0.32,53.82,False,True,False,False,True,False,False,False
1,36.87,1.0,2.70,1.21,0.15,37.27,True,False,False,True,False,False,False,False
2,8.64,2.0,2.55,1.71,0.48,89.33,False,False,False,True,False,True,False,False
3,41.79,3.0,4.60,1.77,0.11,86.95,False,False,True,True,False,False,False,False
4,9.91,2.0,2.32,1.26,0.34,41.72,True,False,False,False,False,False,False,False
5,9.99,4.0,4.33,0.85,0.43,34.00,False,False,True,False,False,False,False,False
6,15.91,4.0,4.42,1.77,0.21,114.93,False,True,False,False,True,False,False,False
7,26.71,4.0,4.30,1.59,0.20,111.18,False,False,False,True,True,False,True,False
8,30.98,1.0,4.50,0.84,0.25,57.02,False,False,False,True,True,False,True,False
9,18.95,1.0,3.38,0.78,0.39,54.04,False,False,True,False,True,False,False,False
10,3.28,2.0,2.88,1.76,0.20,78.04,True,False,False,False,False,True,False,False
11,30.77,1.0,3.64,1.33,0.13,109.60,False,True,False,False,True,False,False,False
12,9.36,1.0,2.40,1.85,0.15,7.07,False,False,False,False,False,True,False,False
13,48.32,2.0,2.49,0.61,0.44,67.25,False,True,False,False,True,False,False,False
14,40.61,1.0,2.31,0.88,0.38,42.25,False,False,False,False,True,False,False,False

ModuleNotFoundError: No module named 'sklearn'